* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 100px;
}

body > button {
    width: 150px;
    height: 40px;
    position: absolute;
    background: #bada55;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 50px;
}

body > button:hover {
    background: #a8c54c;
    background: linear-gradient(to bottom, #bada55, #8ea540);
    cursor: pointer;
}

body > button:active {
    background: #d3ed76;
    box-shadow: inset 2px 2px 2px rgb(94, 94, 94);
}

.invisible {
    visibility: hidden;
}

.form-wrap {
    display: flex;
    justify-content: center;
}

form {
    background: rgb(17, 204, 238, 0.95);
    margin: 50px;
    position: absolute;
    font-size: 1.5rem;
    /* width: 25%; */
    height: 50%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgb(152, 151, 151);


    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form p {
    margin: 0 0 8px 0;
}

.text-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

input[type="text"] {
    border-radius: 5px;
    border: 1px solid #000;
}

[type="radio"] + label {
    padding-left: 10px;
}

form button {
    width: 150px;
    height: 40px;
    align-self: center;
    background: #bada55;
    border: 1px solid black;
    border-radius: 20px;
}

form button:hover {
    background: #a8c54c;
    background: linear-gradient(to bottom, #bada55, #8ea540);
    cursor: pointer;
}

form button:active {
    background: #d3ed76;
    box-shadow: inset 2px 2px 2px rgb(94, 94, 94);
}

.container {
    width: 70%;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    height: 300px;
    background: rgb(88, 179, 176);
    box-shadow: 2px 2px 10px rgb(152, 151, 151);
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 0px 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}